<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:camel="http://camel.apache.org/schema/spring"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring
       http://camel.apache.org/schema/spring/camel-spring.xsd">

	<import resource="classpath:/elasticRoutes.xml" />
	 
	<bean id="proxyService" class="eu.eexcess.insa.proxy.ProxyService" />
	<bean id="proxyRoutes" class="eu.eexcess.insa.proxy.ProxyRoutes" />
	<bean id="recommendRoutes" class="eu.eexcess.insa.recommend.ProxyRecommendRoutes" />
	<bean id="recommendService" class="eu.eexcess.insa.recommend.ProxyRecommendService" />

    <camelContext xmlns="http://camel.apache.org/schema/spring">
		<propertyPlaceholder id="properties" location="file:${env:HOME}/conf/privacy-proxy.properties"/>
	    
	    <routeBuilder ref="proxyService" />
		<routeBuilder ref="recommendService" />
		<routeBuilder ref="proxyRoutes" />
		<routeBuilder ref="recommendRoutes" />

	    <routeContextRef ref="elasticRoutes" />
	    
    </camelContext>
</beans>
